// @import url("https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700;800&display=swap");

$page-background: rgba(255, 255, 255, 0.72);
$primary-color: #1877f2;
$secondary-color: #1877f2;
@font-face {
  font-family: "Typold";
  src: local("Typold"),
    url("../fonts/The Northern Block Ltd - Typold Regular.otf")
      format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Solway", serif;

  font-family: "Typold", serif;
}
// :not(Material Icons) {
//   font-family: "Typold", serif !important;
// }
.circularProgress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.place-content-end {
  place-content: end;
}
.place-items-center {
  place-items: center;
}
.place-content-center {
  place-content: center;
}
.d-flex {
  display: flex !important;
}
.h-75vh {
  height: 75vh;
}
.mt-1vh {
  margin-top: 1vh !important;
}
.mt-4vh {
  margin-top: 4vh !important;
}
.auth_page {
  background-color: $page-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page-bg {
  background-color: $page-background;
}
.mh-100vh {
  min-height: 100vh;
}
.py-1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.py-2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.selectedItem {
  border-radius: 0px 40px 40px 0px !important;
  // background-color: rgb(224 22 213 / 25%) !important;
  // background: linear-gradient(
  //   90deg,
  //   rgb(163, 117, 155) 10%,
  //   rgb(233, 72, 193) 65%
  // ) !important;
  // background: linear-gradient(90deg, #ec123dd9 12%, #d92764eb 65%) !important;
  background: linear-gradient(
    90deg,
    $primary-color 12%,
    $secondary-color 65%
  ) !important;
  font-size: medium !important;
  font-weight: 700 !important;
  color: #fff !important;
  box-shadow: $secondary-color 0px 3px 8px 0px !important;
}
.selectedItem .listItemText span {
  font-size: 15px !important;
  font-weight: 700 !important;
  background: transparent !important;
  background-clip: text !important;
  -webkit-text-fill-color: #fff !important;
}
.iconColor {
  font-size: x-large !important;
  color: $secondary-color;
}
.selectedItem .itemIcon svg {
  font-size: 26px !important;
  color: #fff !important;
  background: transparent !important;
}
.listItemText span {
  font-size: 14px !important;
  font-weight: 450 !important;
  background: linear-gradient(
    90deg,
    rgb(12, 1, 10) 10%,
    rgb(19, 15, 18) 65%
  ) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.btn-background {
  background: linear-gradient(
    90deg,
    $primary-color 12%,
    $secondary-color 65%
  ) !important;
}

.btn-background:disabled,
.btn-background[disabled] {
  background: #cccccc !important;
  color: #666666 !important;
}
.logout {
  background: $primary-color !important;
}
/* Header*/
.typo {
  color: $secondary-color;
}

.menuBtn {
  // box-shadow: 3px 5px 15px rgba(133, 35, 202, 0.4) !important;
  background: transparent !important;
}
.menuBtn:hover {
  background: transparent !important;
}
.menuSec {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

.labelCheck {
  display: flex;
  flex-direction: column;
  width: 27px;
  cursor: pointer;
}

.labelCheck span {
  background: linear-gradient(
    90deg,
    $primary-color 12%,
    $secondary-color 65%
  ) !important;
  border-radius: 10px;
  height: 3.5px;
  margin: 2.5px 0;
  transition: all 0.4s ease-in-out;
  z-index: 999;
  cursor: pointer;
}

.spanMenu:nth-of-type(1) {
  width: 100% !important;
}

.spanMenu:nth-of-type(2) {
  width: 100% !important;
}

.spanMenu:nth-of-type(3) {
  width: 50% !important;
}

.spanMenu:nth-of-type(3):hover {
  width: 100% !important;
}
.dCard {
  // background: linear-gradient(90deg, #515e8b 12%, #40559b 65%) !important;
  background: linear-gradient(
    90deg,
    #576ba8 12%,
    $secondary-color 65%
  ) !important;
  height: 17vh !important;
}

.menu ul {
  padding: 0px !important;
}
.menu li {
  font-size: 12px !important;
  font-weight: 500;
  color: $secondary-color;
}
